@import url('./reset.css');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

body {
    display: grid;
    grid-template-rows: 3.5rem 60rem;
    grid-template-columns: 13.625rem repeat(4,1fr);
    width: 100vw;
    grid-template-areas:
    "search search search search search"
    "navbar videos videos videos videos";
}

.searchBar {
    grid-area: search;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    display: flex;
    gap: 20px;
}

.center {
    padding: 350px;
}

.navBar {
    grid-area: navbar;
    background-color: aqua;
}

/* .navBar img {
    height: 100%;
} */

.videos {
    grid-area: videos;
    background-color: blueviolet;
}